@charset "UTF-8";

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}
a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
a, a:hover {
  text-decoration: none;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.3;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.7;
}
b,
strong {
  font-weight: bold;
}
section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
section .mbr-background-video,
section .mbr-background-video-preview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
/*! Base colors */
.mbr-white {
  color: white;
}
.mbr-black {
  color: black;
}
/*! Text-aligns */
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
/*! Media  */
figure {
  margin-bottom: 0;
  overflow: hidden;
}
figure[mbr-media-size] {
  transition: width 0.1s;
}
img,
iframe {
  display: block;
  width: 100%;
}
.mbr-figure {
  align-self: center;
}
.mbr-figure img,
.card-img img {
  width: 100%;
}
@media (max-width: 991px) {
  .mbr-figure {
    width: 100% !important;
  }
}
/*! Buttons */
.btn {
  font-weight: 600;
  border-width: 1px;
  font-style: normal;
  margin: 0.6rem 0.6rem;
  white-space: normal;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
/*! Full-screen */
.mbr-fullscreen .mbr-overlay {
  min-height: 100vh;
}
.mbr-fullscreen {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.menu .navbar-brand {
  display: -webkit-flex;
}
.menu .navbar-brand span {
  display: flex;
  display: -webkit-flex;
}
.menu .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}
.menu .navbar-brand .navbar-logo img {
  display: -webkit-flex;
  width: auto;
}
.navbar-toggler {
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
  box-shadow: none;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
@media (min-aspect-ratio: 16/9) {
  .mbr-video-foreground {
    height: 300% !important;
    top: -100% !important;
  }
}
@media (max-aspect-ratio: 16/9) {
  .mbr-video-foreground {
    width: 300% !important;
    left: -100% !important;
  }
}