/* cid-ushO5arnDl */

.cid-ushO5arnDl {
    z-index: 1000;
    width: 100%;
    position: relative;
}
.cid-ushO5arnDl .navbar-brand {
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
}
.cid-ushO5arnDl .navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}
.cid-ushO5arnDl .navbar-brand .navbar-caption {
    line-height: inherit !important;
}
.cid-ushO5arnDl .navbar-brand .navbar-logo a {
    outline: none;
}
.cid-ushO5arnDl .navbar-nav {
    margin: auto;
    margin-left: 0;
    margin-left: auto;
}
.cid-ushO5arnDl .navbar-nav .nav-item {
    padding: 0 !important;
    transition: 0.3s all !important;
}
.cid-ushO5arnDl .navbar-nav .nav-item .nav-link {
    padding: 16px !important;
    margin: 0 !important;
    border-radius: 1rem !important;
    transition: 0.3s all !important;
}
.cid-ushO5arnDl .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(27, 31, 10, 0.06);
}
.cid-ushO5arnDl .nav-link {
    width: fit-content;
    position: relative;
}
.cid-ushO5arnDl .navbar-logo {
    margin: 0 !important;
}
.cid-ushO5arnDl .navbar-caption {
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.cid-ushO5arnDl .container {
    display: flex;
    height: 90px;
    padding: 0.5rem 0.6rem;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.8) !important;
    left: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    border-radius: 100vw;
    margin-top: 1rem;
    background-color: #ffffff;
    box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}    
@media (max-width: 992px) {
.cid-ushO5arnDl .container {
  padding-right: 2rem;
}
}
@media (max-width: 767px) {
.cid-ushO5arnDl .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
}
}
.cid-ushO5arnDl .iconfont-wrapper {
    color: #000000 !important;
    font-size: 1.5rem;
    padding-right: 0.5rem;
    align-items: center;
}  
.cid-ushO5arnDl .navbar {
    min-height: 90px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
@media (min-width: 992px) {      
.cid-ushO5arnDl .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}   
}
@media (max-width: 767px) {
.cid-ushO5arnDl .navbar {
    min-height: 72px;
}
.cid-ushO5arnDl .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
}
}
.cid-ushO5arnDl button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
}
.cid-ushO5arnDl button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
}
.cid-ushO5arnDl button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
}
.cid-ushO5arnDl button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
}
.cid-ushO5arnDl button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
}
.cid-ushO5arnDl button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
}
.cid-ushO5arnDl nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}
.cid-ushO5arnDl nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
}
.cid-ushO5arnDl nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
}
.cid-ushO5arnDl nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}
.cid-ushO5arnDl .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
}       
@media (max-width: 992px) {
    .cid-ushO5arnDl .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}
}
@media (max-width: 991px) {
.cid-ushO5arnDl .navbar-brand {
    margin-right: auto;
}
.cid-ushO5arnDl .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
}
}

/* cid-ushO5as8Ld */
@media (min-width: 768px) {
    .cid-ushO5as8Ld {
        align-items: flex-end;
    }
    }
    @media (max-width: 767px) {
    .cid-ushO5as8Ld {
        align-items: flex-end;
    }
    .cid-ushO5as8Ld .mbr-row {
        justify-content: center;
    }
    }     
    .cid-ushO5as8Ld .mbr-fallback-image.disabled {
        display: none;
    }
    .cid-ushO5as8Ld .mbr-fallback-image {
        display: block;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-image: url("https://www.youtube.com/embed/K2Cjf8gHH3Y?autoplay=1&amp;loop=1&amp;playlist=K2Cjf8gHH3Y&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent");
    }
    .cid-ushO5as8Ld .mbr-section-title {
        text-align: center;
    }
    .cid-ushO5as8Ld .mbr-text,
    .cid-ushO5as8Ld .mbr-section-btn {
        text-align: center;
    }
    .cid-ushO5as8Ld .mbr-section-title {
        color: #FFCA3A;
    } 
    .fade-in {
        animation: fadeIn 2s ease-in-out;
        animation-delay: 10s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }        
    .fade-out {
        animation: fadeOut 2s ease-in-out;
        animation-delay: 60s;
        animation-fill-mode: forwards;
    }
    @keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }

/* cid-ushO5asI5R */
.cid-ushO5asI5R .mbr-fallback-image.disabled {
    display: none;
}
.cid-ushO5asI5R .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("https://www.youtube.com/embed/y5vX8ZqkHaY?autoplay=1&amp;loop=1&amp;playlist=y5vX8ZqkHaY&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent");
}

/* cid-ushO5asfqU */
.cid-ushO5asfqU {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #0cB7E1;
}
@media (max-width: 575px) {
.cid-ushO5asfqU .item {
    margin-bottom: 1rem;
}
}
.cid-ushO5asfqU .item-title {
    text-align: center;
}
.cid-ushO5asfqU img {
    width: 250px;
    height: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
}
@media (max-width: 767px) {
.cid-ushO5asfqU img{
    width: 450px;
    height: 300px;
}
}
.cid-ushO5asfqU img:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* cid-ushO5atRlD */
.cid-ushO5atRlD {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #8ed8f8;
}
.cid-ushO5atRlD img,
.cid-ushO5atRlD .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
}
.cid-ushO5atRlD .item-wrapper {
    position: relative;
}
.cid-ushO5atRlD .slide-content {
    position: relative;
    border-radius: 4px;
    background: #ffffff;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
}
.cid-ushO5atRlD .slide-content .item-content {
    padding: 2.25rem 2.25rem 0;
    flex-grow: 1;
}
.cid-ushO5atRlD .slide-content .item-footer {
    padding: 0 2.25rem 1.5rem;
    margin-top: auto;
}
.cid-ushO5atRlD .mbr-section-title {
    color: black;
}
.cid-ushO5atRlD .mbr-section-btn {
    text-align: left;
}
.cid-ushO5atRlD .embla__slide {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 400px;
    max-width: 400px;
}
.cid-ushO5atRlD .embla__viewport {
    overflow: hidden;
    width: 100%;
}
.cid-ushO5atRlD .embla__container {
    display: flex;
    user-select: none;
    transition: transform 0.5s ease;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
}
.arrow-left {
    left: 0;
}
.arrow-right {
    right: 0;
}

/* cid-ushO5attTa */
.cid-ushO5attTa {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}
.cid-ushO5attTa img,
.cid-ushO5attTa .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
}
.cid-ushO5attTa .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.cid-ushO5attTa .mbr-section-title {
    color: black;
}
.cid-ushO5attTa .content-head {
    max-width: 800px;
}

/* cid-ushO5atHir */
.cid-ushO5atHir {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}
.cid-ushO5atHir .item-subtitle {
    line-height: 1.2;
    color: black;
    text-align: center;
}
.cid-ushO5atHir img,
.cid-ushO5atHir .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
}
.cid-ushO5atHir .item {
    margin-bottom: 2rem;
}
.cid-ushO5atHir .item-wrapper {
    position: relative;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
}
.cid-ushO5atHir .item-title {
    color: black;
    text-align: center;
}
.cid-ushO5atHir .content-head {
    max-width: 800px;
}

/* cid-ushO5atyg6 */
.cid-ushO5atyg6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}
.cid-ushO5atyg6 .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}
.cid-ushO5atyg6 .content-head {
    max-width: 800px;
}
.cid-ushO5atyg6 .item {
    color: #232323;
    min-height: 90px;
    font-weight: bold;
}
.loop-container {
    position: relative;
    display: inline-flex;
    white-space: nowrap;
    animation: moveLeft 10s linear infinite;
}
@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* cid-ushO5ateCU */
.cid-ushO5ateCU {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}
.cid-ushO5ateCU .title .num {
    width: 100%;
    display: block;
}
.cid-ushO5ateCU .title .card-title {
    z-index: 1;
}
.cid-ushO5ateCU .num {
    color: #1982C4;
    text-align: center;
}
.cid-ushO5ateCU .item-mb {
    margin-bottom: 2rem;
}
.cid-ushO5ateCU .content-head {
    max-width: 800px;
}
.cid-ushO5ateCU .card-text {
    text-align: center;
}
.cid-ushO5ateCU .card-title,
.cid-ushO5ateCU .card-img {
    text-align: center;
}

/* cid-ushO5au0s0 */
.cid-ushO5au0s0 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}
.cid-ushO5au0s0 .item-wrapper img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50% !important;
}
.cid-ushO5au0s0 .item-wrapper {
    margin-bottom: 2rem;
}
.cid-ushO5au0s0 .card-text {
    color: #000000;
    text-align: center;
}
.cid-ushO5au0s0 .content-head {
    max-width: 800px;
}
.cid-ushO5au0s0 .mbr-section-title {
    color: #000000;
}
.cid-ushO5au0s0 .card-title,
.cid-ushO5au0s0 .img-wrapper {
    text-align: center;
}
.cid-ushO5au0s0 .img-wrapper {
    display: flex;
    justify-content: center;
}

/* cid-ushO5auwyn */
.cid-ushO5auwyn {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #8ecae6;
    }
.cid-ushO5auwyn .card-header {
    padding: 0rem;
}
.cid-ushO5auwyn .panel-body {
    padding: 0rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
}
.cid-ushO5auwyn .img-col {
    padding: 0;
}
.cid-ushO5auwyn .img-item {
    height: 100%;
}
.cid-ushO5auwyn img {
    height: 100%;
    object-fit: cover;
}
.cid-ushO5auwyn .collapsed span {
    transform: rotate(0deg);
}
.cid-ushO5auwyn .panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cid-ushO5auwyn p {
    margin-bottom: 0.3rem;
}
.cid-ushO5auwyn .panel-title-edit {
    color: #000000;
}
.cid-ushO5auwyn .card .card-header {
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
    border-radius: 2rem;
}
.cid-ushO5auwyn .card {
    background: #ffffff;
    padding: 2.25rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}
.cid-ushO5auwyn .panel-text {
    color: #000000;
}
.cid-ushO5auwyn .mbr-section-title {
    text-align: center;
    color: white;
}
.arrow-up {
    display: none;
}
.panel-collapse.show .arrow-up {
    display: inline;
}
.panel-collapse.show .arrow-down {
    display: none;
}

/* cid-ushO5auxcz */
.cid-ushO5auxcz {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #219ebc;
}
.cid-ushO5auxcz .grid-container {
    grid-row-gap: 2rem;
}
@media (max-width: 767px) {
.cid-ushO5auxcz .grid-container {
    grid-row-gap: 1rem;
}
}
.cid-ushO5auxcz .grid-container-1,
.cid-ushO5auxcz .grid-container-2 {
    gap: 0 2rem;
}
@media (max-width: 767px) {
.cid-ushO5auxcz .grid-container-1,
.cid-ushO5auxcz .grid-container-2 {
    gap: 0 1rem;
}
}
.cid-ushO5auxcz .content-head {
    max-width: 800px;
}
.cid-ushO5auxcz .container,
.cid-ushO5auxcz .container-fluid {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
.cid-ushO5auxcz .grid-container {
    display: grid;
    transform: translate3d(-3rem, 0, 0);
    width: 3400px;
    grid-column-gap: 1rem;            
    animation: moveLeft 20s linear infinite;
}
.cid-ushO5auxcz .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cid-ushO5auxcz .grid-item img {
    min-width: 30vw;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
@media (max-width: 767px) {
.cid-ushO5auxcz .grid-item img {
    min-width: 500px;
}
}
.cid-ushO5auxcz .grid-container-1,
.cid-ushO5auxcz .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}        
.cid-ushO5auxcz .grid-container-1 {
    align-items: flex-end;
}
.cid-ushO5auxcz .grid-container-2 {
    align-items: flex-start;
}
@keyframes moveLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

/* cid-ushO5au1g9 */
.cid-ushO5au1g9 {
    display: flex;
    padding-top: 6em;
    padding-bottom: 5em;
    background-color: #126782;
}
@media (min-width: 768px) {
.cid-ushO5au1g9 {
    align-items: center;
}
.cid-ushO5au1g9 .row {
    justify-content: center;
}
}
@media (max-width: 991px) and (min-width: 768px) {
.cid-ushO5au1g9 .content-wrap {
    min-width: 50%;
}
}
@media (max-width: 767px) {
.cid-ushO5au1g9 .content-wrap {
    width: 100%;
    max-width: 800px;
}
}
.cid-ushO5au1g9 .mbr-section-title {
    text-align: center;
    color: white;
}
.cid-ushO5au1g9 .mbr-text,
.cid-ushO5au1g9 .mbr-section-btn {
    text-align: center;
    color: white;
}

/* cid-ushO5avHEg */
.cid-ushO5avHEg {
    padding-top: 5rem;
    padding-bottom: 4rem;
    background-color: #023047;
}
.cid-ushO5avHEg .item-mb {
    margin-bottom: 2rem;
}
@media (max-width: 767px) {
.cid-ushO5avHEg .item-mb {
    margin-bottom: 1rem;
}
}
.cid-ushO5avHEg .item-head {
    background: #1982c4;
    padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
.cid-ushO5avHEg .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
}
}
@media (max-width: 767px) {
.cid-ushO5avHEg .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
}
}
.cid-ushO5avHEg .item-content {
    padding: 2.25rem 2.25rem 0;
    background: #ffffff;
}
.cid-ushO5avHEg .item-wrapper {
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background: #ffffff;
    padding: 0rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.cid-ushO5avHEg .btn {
  width: -webkit-fill-available;
}
.cid-ushO5avHEg .mbr-section-btn {
    margin-top: auto !important;
    padding: 2rem 2rem 0;
}
.cid-ushO5avHEg .mbr-section-title {
    color: white;
}
.cid-ushO5avHEg .mbr-section-subtitle {
    color: #ffffff;
}
.cid-ushO5avHEg .item-title {
    text-align: left;
    color: var(--primary-text, #ffffff);
}
.cid-ushO5avHEg .item-subtitle {
    text-align: left;
    color: var(--primary-text, #ffffff);
}
.cid-ushO5avHEg .content-head {
    max-width: 800px;
}

/* cid-ushO5av6uK */
.cid-ushO5av6uK {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #005f73;
}
.cid-ushO5av6uK .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cid-ushO5av6uK .social-row .soc-item {
    margin: 8px;
}
.cid-ushO5av6uK .mbr-section-title {
    color: white;
}
.cid-ushO5av6uK .mbr-section-title,
.cid-ushO5av6uK .social-list {
    color: white;
}

/* cid-ushO5avQkZ */
.cid-ushO5avQkZ {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #178796;
}
.cid-ushO5avQkZ form .mbr-section-btn {
    text-align: center;
    width: 100%;
}
.cid-ushO5avQkZ form .mbr-section-btn .btn {
    display: inline-flex;
}
@media (max-width: 991px) {
.cid-ushO5avQkZ form .mbr-section-btn .btn {
     width: 100%;
}
}
.cid-ushO5avQkZ .content-head {
    max-width: 800px;
    color: white;
}

/* cid-ushO5avtum */
.cid-ushO5avtum {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #448992;
}
.cid-ushO5avtum .mbr-text {
    color: white;
}
.cid-ushO5avtum .mbr-section-subtitle {
    color: white;
    text-align: left;
}
.cid-ushO5avtum .main-button {
    margin-bottom: 2rem;
}
@media (max-width: 767px) {
    .cid-ushO5avtum .main-button {
        margin-bottom: 2rem;
    }
}
.cid-ushO5avtum .mbr-section-subtitle,
.cid-ushO5avtum .main-button {
    color: white;
}
.cid-ushO5avtum .google-map {
    height: 30rem;
    position: relative;
    border-radius: 2rem;
}
.cid-ushO5avtum .google-map iframe {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}

/* cid-ushO5avSiy */
.cid-ushO5avSiy {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #44a0a7;
}
.cid-ushO5avSiy .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cid-ushO5avSiy .social-row .soc-item {
    margin: 8px;
}
.cid-ushO5avSiy .header-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}
.cid-ushO5avSiy .header-menu li {
    padding: 0 1rem 1rem 1rem;
} 
.cid-ushO5avSiy .header-menu li p {
    margin: 0;
}
.cid-ushO5avSiy .copyright {
    margin-bottom: 0;
    color: white;
    text-align: center;
}
.cid-ushO5avSiy .mbr-section-title {
    color: white;
}